body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    padding: 20px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 20px;
    padding: 10px 20px;
    background: #c62828;
    color: white;
    border: none;
    border-radius: 5px;
}

#imagePreview {
    position: relative;
    display: inline-block;
}

#imagePreview img {
    width: 600px;
    height: auto;
}

.texto {
    position: absolute;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}

#oficinas_caixa { top: 168px; left: 200px; } 
#oficinas_atendimento { top: 199px; left: 286px; }

#santa_paula_caixa { top: 308px; left: 193px; } 
#santa_paula_atendimento { top: 340px; left: 282px; }

#palmeirinha_caixa { top: 450px; left: 188px; }
#palmeirinha_acompanhamento { top: 482px; left: 338px; } 
#palmeirinha_encomendas { top: 513px; left: 272px; }
#palmeirinha_atendimento { top: 544px; left: 272px; }
#palmeirinha_cozinha { top: 576px; left: 216px; } 

#entrega { top: 676px; left: 110px; } 
